{{!-- Common Rolls table --}}
<div class="rolls-panel">
  <h3 class="panel-header">{{localize "ODD.Sections.rolls"}}</h3>
  {{#each commonRolls}}
  {{> "systems/odd-rpg/templates/actor/partials/roll-entry.hbs" this}}
  {{/each}}
</div>
