{{!-- Biography Tab --}}
<section class="tab {{ tab.cssClass }}" data-group="{{ tab.group }}" data-tab="{{ tab.id }}">
  {{editor system.biography target="system.biography" button=true editable=true}}
</section>
