{{!-- Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
  {{#each tabs}}
  <a class="item {{cssClass}}" data-group="{{group}}" data-tab="{{id}}">{{localize label}}</a>
  {{/each}}
</nav>
